{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Contacta con nosotros
{% endblock %}

{% block content %}
<h2 class= "about-titulo">Contacta </h2>
La foto y dirección de la oficina de Barcelona. 
Abajo: mail de Franck, mío. 

{% endblock %}