{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
MDPI.es | Contacta con Nosotros
{% endblock %}

{% block content %}

<h2 class= "about-titulo">Contacta con Nosotros </h2>
 
<div class="about-content" style="margin-top: 40px;">
<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<div class="pull-left" style="margin: 20px 0;">
			<img class="img-thumbnail center-block" src="{{ asset('/images/barcelona-office.jpg') }}" alt="MDPI logo" width="400">
		</div>
    </div>
   	<div class="col-md-4 ">
		<div style="text-align: center;padding: 20px;">
			<div>
				<h3>Oficina de Barcelona</h3>
				<a href="https://www.google.com/maps/place/Av.+de+Madrid,+95,+08028+Barcelona,+Spain/@41.3786741,2.1252741,17z/data=!3m1!4b1!4m2!3m1!1s0x12a4988b0421048b:0x2fb1a096f02053d">Avenida Madrid, 95, 1º - 3 </a></br>
				08028 Barcelona</br>
				Spain</p>
			</div>
			<div>
				<p> Tel. +34 93 639 76 62</br>
				Horario de Oficina:</br>
				8:00-17:00 (GMT +1)</br>
				Email: <a href="mailto:martinez@mdpi.com">Isabel Martínez</a></p>
			</div>
		</div>

    </div>
</div>
</div>



{% endblock %}