{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Contacta con nosotros
{% endblock %}

{% block content %}
<h1>Contacta con nosotros</h1>
La foto y dirección de la oficina de Barcelona. 
Abajo: mail de Franck, mío. 

{% endblock %}