<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} MDPI.es{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block stylesheets %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  {% endblock %}

  <style>
  
  body{ 
  background-color: #F8F7F7;
  }
  	p{
  	font-size: 16px;
  	}
  	a{
  	font-size: 16px;
  	}
  	li{
  	font-size: 16px;
  	}
  	
  	a:link{
  	color: #3156A2;
    text-decoration: none;
  	}
 	a:visited{
  	color: #934E4E;
  	}
  	#main-nav a.nav-link{
  		color: white;
  		font-weight:bold;
  	}
  	#main-nav a.nav-link:hover{
  		color: #E6B043;
  	}
  	
  	.dropdown-menu>li>a{
  	  		color: white;
  		font-weight:bold;
  	font-weight:bold;
  	}
  	
  	.dropdown-menu>li>a:hover{
  	background-color: #1F1D33;
    color: #E6B043;
}
	

.navbar-inverse .navbar-nav>.active>a{
	background-color: #1F1D33;
}

.navbar-inverse .navbar-nav>.active>a:focus{
	background-color: #1F1D33;
}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #1F1D33;
}
  	
    .about-titulo{
    color: #48516D;
    margin: 20px auto;
    font-weight: bold;
    text-shadow: 1px 1px #999;
    }
    .about-content p{
		line-height: 25px;
		margin: 20px 0;
		padding: 0 20px;      
    }
    
   .about-content li{
		line-height: 25px;
		margin: 20px 0;      
    }
    
    .about-history-year{
    	font-weight: bold;
    	color: #5f6884;
    	font-size:
    }
    .journalName{
    	font-style:italic;
    }
    
    .navbar{
    margin:0;
    }
    
    .navbar-inverse {
    	background-color: #1F1D33;
    	border-color: #1F1D33;
	}
	
	.navbar-nav>li>.dropdown-menu{
		background-color: #1F1D33;
	
	}
    
    
    footer#main-footer{
      background-color: #1F1D33;
      color: white;
      padding: 15px;
    }
    .main-content{
    height: 800px;
    }

  </style>
</head>
<body>
<div style="background-color: #565B79;">
	<div class="container" style="padding:0;">
	<!-- Header -->
	{{ include('MDPIEsBundle::header.html.twig') }}
 	<!-- Main navigation -->
	{{ include('MDPIEsBundle::main_navigation.html.twig') }}
	</div>

</div>



 <div class="container" style="border: 1px solid #999;padding:0;background-color:white;">
	<!--Page content -->
	<div style="margin: 40px auto;padding: 20px;height:1000px;">
		{% block content %} {% endblock %}
	</div>
</div>


<div style="background-color: #565B79;">
	<div class="container" style="padding:0;">
	<!-- Footer -->
	{{ include('MDPIEsBundle::footer.html.twig') }}
	</div>

</div>

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>