<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} MDPI.es{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block stylesheets %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="/css/social-icons.css" rel="stylesheet" />
  <link href="/css/main.css" rel="stylesheet" />
  {% endblock %}

</head>
<body>
<div style="background-color: #565B79;">
	<div class="container" style="padding:0;">
	<!-- Header -->
	{{ include('MDPIEsBundle::header.html.twig') }}
 	<!-- Main navigation -->
	{{ include('MDPIEsBundle::main_navigation.html.twig') }}
	</div>

</div>



 <div class="container" style="border: 1px solid #999;padding:0;background-color:white;">
	<!--Page content -->
	<div style="margin: 40px auto;padding: 20px;min-height: 800px;">
		{% block content %} {% endblock %}
	</div>
</div>


<div style="background-color: #565B79;">
	<div class="container" style="padding:0;">
	<!-- Footer -->
	{{ include('MDPIEsBundle::footer.html.twig') }}
	</div>

</div>

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
	  $('.bxslider').bxSlider();
	});

  </script>

{% endblock %}

</body>
</html>