<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} MDPI.es{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block stylesheets %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="/css/jquery.bxslider.css" rel="stylesheet" />
  {% endblock %}

  <style>
  
  body{ 
  background-color: #F8F7F7;
  }
  	p{
  	font-size: 16px;
  	}
  	a{
  	font-size: 16px;
  	}
  	li{
  	font-size: 16px;
  	}
  	
  	a:link{
  	color: #3156A2;
    text-decoration: none;
  	}
 	a:visited{
  	color: #934E4E;
  	}
  	#main-nav a.nav-link{
  		color: white;
  		font-weight:bold;
  	}
  	#main-nav a.nav-link:hover{
  		color: #E6B043;
  	}
  	
  	.dropdown-menu>li>a{
  	  		color: white;
  		font-weight:bold;
  	font-weight:bold;
  	}
  	
  	.dropdown-menu>li>a:hover{
  	background-color: #1F1D33;
    color: #E6B043;
}
	

.navbar-inverse .navbar-nav>.active>a{
	background-color: #1F1D33;
}

.navbar-inverse .navbar-nav>.active>a:focus{
	background-color: #1F1D33;
}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #1F1D33;
}


.panel-default>.panel-heading{

	background-color: #565B79;
}


.btn-primary {
    color: #fff;
    background-color: #1F1D33;
    border-color: #565B79;
    font-weight: bold;
}


.btn-primary:hover {
    background-color: #1F1D33;
    border-color: #565B79;
    color: #E6B043;
}

.panel-heading h3{
	color: white;
	font-weight: bold;
	margin: 0;
	margin-top: 10px;
	text-shadow: 1px 1px #555;
	

}
  	
    .about-titulo{
    color: #48516D;
    margin: 20px auto;
    font-weight: bold;
    text-shadow: 1px 1px #999;
    }
    .about-content p{
		line-height: 25px;
		margin: 20px 0;
		padding: 0 20px;      
    }
    
   .about-content li{
		line-height: 25px;
		margin: 20px 0;      
    }
    
    .about-history-year{
    	font-weight: bold;
    	color: #5f6884;
    	font-size:
    }
    .journalName{
    	font-style:italic;
    }
    
    .navbar{
    margin:0;
    }
    
    .navbar-inverse {
    	background-color: #1F1D33;
    	border-color: #1F1D33;
	}
	
	.navbar-nav>li>.dropdown-menu{
		background-color: #1F1D33;
	
	}
    
    
    footer#main-footer{
      background-color: #1F1D33;
      color: white;
      padding: 15px;
    }
    .main-content{
    height: 1200px;
    }




	/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
.social-icons .fa-adn{background-color:#504e54;} 
.social-icons .fa-apple{background-color:#aeb5c5;} 
.social-icons .fa-android{background-color:#A5C63B;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-css3{background-color:#1572B7;} 
.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;} 
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}

  </style>
</head>
<body>
<div style="background-color: #565B79;">
	<div class="container" style="padding:0;">
	<!-- Header -->
	{{ include('MDPIEsBundle::header.html.twig') }}
 	<!-- Main navigation -->
	{{ include('MDPIEsBundle::main_navigation.html.twig') }}
	</div>

</div>



 <div class="container" style="border: 1px solid #999;padding:0;background-color:white;">
	<!--Page content -->
	<div style="margin: 40px auto;padding: 20px;min-height: 800px;">
		{% block content %} {% endblock %}
	</div>
</div>


<div style="background-color: #565B79;">
	<div class="container" style="padding:0;">
	<!-- Footer -->
	{{ include('MDPIEsBundle::footer.html.twig') }}
	</div>

</div>

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
	  $('.bxslider').bxSlider();
	});

  </script>

{% endblock %}

</body>
</html>