<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} MDPI.es{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block stylesheets %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  {% endblock %}

  <style>
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .row.content {height:auto;}
    }
  </style>
</head>
<body>


<!-- Main navigation -->
{{ include('MDPIEsBundle::main_navigation.html.twig') }}

 <div class="container">
  <div class="row">
	{% block content %} {% endblock %}
  </div>  
</div>

<hr>

<!-- Main navigation -->
{{ include('MDPIEsBundle::footer.html.twig') }}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>