<footer class="container">
	<div class="row">
        <div class="col-md-6">
        	<span><a href="https://twitter.com/MDPIOpenAccess/" target="_blank"><img alt="Twitter" src="/images/twitter_subject.png"/></a></span>
        	<span><a href="https://www.facebook.com/MDPIOpenAccessPublishing" target="_blank"><img alt="Facebook" src="/images/facebook_subject.png" /></a></span>
        	<span><a href="https://www.linkedin.com/company/mdpi/" target="_blank"><img alt="Linkedin" src="/images/linkedin_subject.png" /></a></span>
        	<span><a href="https://plus.google.com/+MdpiOA/posts" target="_blank"><img alt="Linkedin" src="/images/google-plus_subject.png" /></a></span>    	
        </div>
        <div class="col-md-3">
        	<p>&copy;MDPI SL </p>
        </div>
        <div class="col-md-3">
        	<p>Contacta con nosotros </p>
        </div>
      </div>
</footer>