<footer class="container">
	<div class="row">
        <div class="col-md-6">
        	<span><a href="https://twitter.com/MDPIOpenAccess/" target="_blank"><img alt="Twitter" src="/images/twitter_subject.png" width= "50px"/></a></span>
        	<span><a href="https://www.facebook.com/MDPIOpenAccessPublishing" target="_blank"><img alt="Facebook" src="/images/facebook_subject.png" width= "50px"/></a></span>
        	<span><a href="https://www.linkedin.com/company/mdpi/" target="_blank"><img alt="Linkedin" src="/images/linkedin_subject.png" width= "50px"/></a></span>
        	<span><a href="https://plus.google.com/+MdpiOA/posts" target="_blank"><img alt="Linkedin" src="/images/google-plus_subject.png" width= "50px"/></a></span>    	
        </div>
        <div class="col-md-3">
        	<p>&copy;MDPI SL<br />
        	<a href="https://www.google.com/maps/place/Av.+de+Madrid,+95,+08028+Barcelona,+Spain/@41.3786741,2.1252741,17z/data=!3m1!4b1!4m2!3m1!1s0x12a4988b0421048b:0x2fb1a096f02053d" target="_blank">Avenida Madrid, 95, 1ยบ - 3</a>
        	08028 Barcelona<br />
        	Spain</p>
        </div>
        <div class="col-md-3">
        	<p>Contacta con nosotros </p>
        </div>
      </div>
</footer>
