<header id="main-header">
<div  style= "background-image: url('/images/mdpi-header-background.jpg'); height: 200px; background-size: cover;background-repeat:no-repeat;"></div>
	
</header>
	
	
	
	
	
	
	