<header id="main-header">
	<a href="{{ path('_homepage') }}">
		<div style= "background-image: url('/images/mdpi-header-background.jpg'); height: 200px; background-size: cover;background-repeat:no-repeat;">
			<div id="header-logo">
				<div class= "header-logo-main">MDPI</div>
				<div class= "header-logo-sub">Open Access Journals</div>
			</div>
		</div>	
	</a>
</header>
	
	
	
	
	
	
	