
<ul>
{% for set in journals|batch(2) %}
	<div class="row">
		{% for journal in set %}
		<div class="col-sm-6">
				<li style="list-style: none;"><a href="#"><img src="{{ "http://www.mdpi.com/img/journals/#{journal.logoFilenameWithHash}" }}" alt="{{ journal.nameSystem }}-logo" title="{{ journal.nameShort }} Open Access Journal" height="70"></a></li>
		</div>
		{% endfor %}
	</div>	
{% endfor %}
</ul>