 <div>
 	<ul class="list-with-separators" >
 	{% for announcement in announcements %}
		<li><a href="{{ path('_announcement', {'id': announcement.id}) }}">{{ announcement.title | raw }}</a> ({{ announcement.getFormatedDate('Y-m-d') }})<hr style= "margin: 10px 0;"></li>
		
	{% endfor %}
  	</ul>
  	<a class="nav-link" href="{{ path('_announcements') }}"><button type="button" class="btn btn-primary center-block">Ver Todas</button></a>	
 </div>
