{% extends "MDPIEsBundle::base.html.twig" %} 
 
{% block title %}
MDPI | Noticias
{% endblock %}

{% block content %}
<h2 class="about-titulo">Noticias de MDPI</h2>

 <div>
 	<ul class="list-with-separators" style="padding: 0 40px;">
 	{% for announcement in announcements %}
		<li style="margin: 10px 0;"><a href="{{ path('_announcement', {'id': announcement.id}) }}">{{ announcement.title | raw }}</a> 
		({{ announcement.getFormatedDate('Y-m-d') }})<hr style= "margin: 10px 0;"></li>
	{% endfor %}
  	</ul>
 </div>
{% endblock %}
 
 

