{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Pagina inicio MDPI.es
{% endblock %}

{% block content %}
<div >
<ul class="bxslider" >
  <li><img src="/images/image1.jpg" /></li>
  <li><img src="/images/image2.jpg" /></li>
</ul>

</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
  			<div class="panel-heading"><h2>Listado de revistas</h2></div>
  			<div class="panel-body">Panel Content</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
  			<div class="panel-heading">Noticias</div>
  			<div class="panel-body">Panel Content</div>
		</div>
			<div class="panel panel-default">
  			<div class="panel-heading">Ofertas de Empleo</div>
  			<div class="panel-body">Panel Content</div>
		</div>
	</div>
</div>

{% endblock %}