{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Pagina inicio MDPI.es
{% endblock %}


{% block content %}
<div style="margin: 0 60px;">
<div class="row">
	<div class="col-sm-6">
		<div style="vertical-align: middle;">
			<p><strong>MDPI Spain, S.L.</strong> fue fundada en marzo de 2016, cuando se abrió su <strong>oficina de Barcelona</strong>, como parte del departamento de edición, 
		ventas y afiliaciones (Membership Program) de la empresa. Actualmente emplea a 22 personas con formación de doctorado y máster 
		en diferentes disciplinas como física, química, biología, biomedicina, filosofía y ciencias sociales.</p>
		<p>MDPI publica actualmente más de 160 <a href="{{ path('_journals') }}">revistas científicas</a>, incluyendo <a class="journalName" href = "http://www.mdpi.com/journal/molecules">Molecules</a>, 
<a class="journalName" href="http://www.mdpi.com/journal/sensors">Sensors</a>, <a class="journalName" href="http://www.mdpi.com/journal/ijms">IJMS</a>, <a class="journalName" href="http://www.mdpi.com/journal/marinedrugs">Marine Drugs</a>, 
<a class="journalName" href="http://www.mdpi.com/journal/energies">Energies</a>, <a class="journalName" href="http://www.mdpi.com/journal/ijerph">IJERPH</a> y otras revistas de fama internacional. Más de 12800 científicos y editores académicos han colaborado con MDPI: 
entre ellos, contamos también con ganadores de Premios Nobel. Al día de hoy, más de 21.6400 autores de diferentes países del mundo han publicado artículos en las revistas de MDPI. Para más información, puedes visitar 
<a href = "http://www.mdpi.com">nuestra web internacional</a>.</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="pull-right" style="margin-bottom: 60px;">
			<img class="img-thumbnail" src="/images/barcelona-image.jpg" alt="Barcelona" >
		</div>
	</div>
</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
  			<div class="panel-heading"><h3 class="text-center">Listado de Revistas</h3></div>
  			<div class="panel-body">
				{{ include('MDPIEsBundle::journals_basic.html.twig') }}

			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
  			<div class="panel-heading"><h3>Noticias</h3></div>
  			<div class="panel-body">
  				<ul>
  					<li><a href="#">9 revistas de MDPI han sido incluídas en el registro Emerging Sources Citation Index (ESCI).</a></li>
  					<li><a href="#">Impact Factor de 2015 para las revistas de MDPI.</a></li>
  					<li><a href="#">Colaborar como peer-reviewer.</a></li>
  					<li><a href="#">MDPI anuncia nuevas colaboraciones con universidades americanas, asiáticas y europeas.</a></li>
  					<li><a href="#">La nueva plataforma de MDPI para E-books.</a></li>
  					<li><a href="#">Las revistas de MDPI Proteomes y Journal of Risk and Financial Managament incluidas en el Emerging Sources Citation Index (ESCI).</a></li>
  					<li><a href="#">Nueva oficina de MDPI en Barcelona.</a></li>
  				</ul>		
  			</div>
		</div>
			<div class="panel panel-default">
  			<div class="panel-heading"><h3>Ofertas de Empleo</h3></div>
  			<div class="panel-body">
  				<ul>
  					<li><a href="#">English Editor (full-time)</a></li>
  					<li><a href="#">Assistant Editor Maths (full-time)</a></li>
  					<li><a href="#">Assistant Editor Physics (full-time)</a></li>
  					<li><a href="#">Assistant Editor Chemistry (full-time)</a></li>
  					<li><a href="#">Assistant Editor Ecology (full-time)</a></li>
  					<li><a href="#">Assistant Editor Engineering (full-time)</a></li>
  				</ul>		
			</div>
		</div>
	</div>
</div>

{% endblock %}