{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Pagina inicio MDPI.es
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-6">
		<div class= "jumbotron">
			<h2>Listado de revistas</h2>
		</div>
	</div>
	<div class="col-sm-6">
		<div class= "jumbotron">
			<h2>Noticias</h2>
		</div>
		<div class= "jumbotron">
			<h2>Ofertas de empleo</h2>
		</div>
	</div>
</div>

{% endblock %}