{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Pagina inicio MDPI.es
{% endblock %}

{% block content %}
<div >
<ul class="bxslider" >
  <li><img src="/images/image3.jpg" /></li>
  <li><img src="/images/image3.jpg" /></li>
</ul>

</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
  			<div class="panel-heading"><h3 class="text-center">Listado de revistas</h3></div>
  			<div class="panel-body">
				{{ include('MDPIEsBundle::journals_basic.html.twig') }}

			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
  			<div class="panel-heading"><h3>Noticias</h3></div>
  			<div class="panel-body">
  				<ul>
  					<li><a href="">Noticia 1<a></a></li>
  					<li><a href="">Noticia 2<a></a></li>
  					<li><a href="">Noticia 3<a></a></li>
  					<li><a href="">Noticia 4<a></a></li>
  				</ul>		
  			</div>
		</div>
			<div class="panel panel-default">
  			<div class="panel-heading"><h3>Ofertas de Empleo</h3></div>
  			<div class="panel-body">
  				<ul>
  					<li><a href="">Oferta 1<a></a></li>
  					<li><a href="">Oferta 2<a></a></li>
  					<li><a href="">Oferta 3<a></a></li>
  					<li><a href="">Oferta 4<a></a></li>
  				</ul>		
			</div>
		</div>
	</div>
</div>

{% endblock %}