<div>
	<ul style="padding-left: 20px;">
	{% for job in jobs %}
		<li><a href="{{ path('_job', {'slug': job.slug}) }}">{{ job.title }}.</a></li>
		<hr style= "margin: 10px 0;">
	{% endfor %}
	</ul>
</div>