{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Trabaja con nosotros
{% endblock %}

{% block content %}

	<h2 class= "about-titulo">Trabaja con Nosotros</h2>
	<div style="margin-top: 20px; margin-left: 20px;">
		<p>En la actualidad estamos buscando los perfiles siguientes:</p>
		{{ render(controller('MDPIEsBundle:JobsPage:jobList')) }}
	</div>
{% endblock %}