{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Trabaja con nosotros
{% endblock %}

{% block content %}

	<h2 class= "about-titulo">Trabaja con nosotros</h2>
	<div>
		<p>En la actualidad estamos buscando los perfiles siguientes:</p>
	<ul>
		<li><a href="#">English Editor (full-time)</a></li>
  		<li><a href="#">Assistant Editor Maths (full-time)</a></li>
  		<li><a href="#">Assistant Editor Physics (full-time)</a></li>
  		<li><a href="#">Assistant Editor Chemistry (full-time)</a></li>
  		<li><a href="#">Assistant Editor Ecology (full-time)</a></li>
  		<li><a href="#">Assistant Editor Engineering (full-time)</a></li>
  	</ul>	
	
	</div>


	
{% endblock %}