{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Historia de MDPI
{% endblock %}

{% block content %}
<h2>Historia de la evolución de la empresa</h2>
<p>Suiza MDPI Publishing Company fue fundada en 1996 con sede central en Basilea, Suiza
Su predecesor fue la Preservación Diversidad Molecular Internacional</p>
<p>De junio de 2010 cambió oficialmente su nombre a MDPI AG (MDPI, Instituto Multidisciplinar publicación digital,
Multidisciplinario Digital Publishing agencia), es una de las principales compañía de publicación de acceso abierto del mundo.</p>
<p>MDPI AG publica actualmente más de 160 tipos de revistas científicas y técnicas en Inglés, Incluyendo moléculas, IJMS, sensores, Drogas marinos,
Energías, IJERPH y otras revistas internacionales bien conocidos</p>
<p>Diario Junta Editorial de los más de 5.000 conocidos estudiosos, entre ellos varios premios Nobel, hay más de 12.000 autores de diferentes países 
del mundo sobre los artículos publicados, revistas MDPI más de 35.000 puntos de vista de las diversas disciplinas dentro de la buena reputación eruditos 
trabajaban para MDPI revista revisor.</p>
<p>Representantes MDPI en Beijing, establecido en 2008 Registrada como Puerto empinada (Beijing) Technology Service Co., Ltd.</p>
<p>Representantes MDPI establecieron en Wuhan en abril de 2013 Registrada como puerto empinada (Wuhan) Servicio de Tecnología Co., Ltd.</p>
{% endblock %}