{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Historia de MDPI
{% endblock %}

{% block content %}


<h2 class= "about-titulo">Historia de la evolucion de la empresa</h2>

<div class="about-content">
 <div class="row">
	<div class="col-sm-4">
		<p><span class="about-history-year">1996:</span> Fundación de MDPI en Basel, Suiza. Las siglas corresponde a Molecular Diversity Preservation International.</p>
	</div>
	<div class="col-sm-4">
		<img class="img-responsive center-block" src="http://img.mdpi.org/img/office/basel.jpg" alt="Dr Shu kun Lin" width="200px" style="margin:20px auto;">
	</div>
	<div class="col-sm-4">
		<p><span class="about-history-year">2008:</span> Technology Service Co., Ltd., que representa MDPI AG en China, abre nuevas oficinas en Pekín.</p>
	</div>
</div>


<div class="row">
	<div class="col-sm-4">
		<p><span class="about-history-year">2010:</span> El nombre de la compañía se cambia a MDPI AG (Multidisciplinary Digital Publishing Institute). MDPI se convierte 
    en una de las principales compañías de publicación <em>Open Access</em> del mundo.</p>
	</div>
	<div class="col-sm-4">
		<img class="img-responsive center-block" src="http://img.mdpi.org/img/office/wuhan_new.jpg" alt="Dr Shu kun Lin" width="200px" style="margin:20px auto;">
	</div>
	<div class="col-sm-4">
		<p><span class="about-history-year">2013:</span> Technology Service Co., Ltd., que representa MDPI AG en China, abre nuevas oficinas en Wuhan.</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<p><span class="about-history-year">2016:</span> MDPI Spain, S.L., que representa MDPI AG en España, abre sus oficinas en Barcelona.</p>
	</div>
	<div class="col-sm-4">
		<img class="img-responsive center-block" src="http://img.mdpi.org/img/office/haidian.jpg" alt="Dr Shu kun Lin" width="200px" style="margin:20px auto;">
	</div>
	<div class="col-sm-4">
		<p>MDPI publica actualmente más de 160 <a href="#">revistas científicas</a> y técnicas en inglés. Entre ellas destacan <a class="journalName" href="#">Molecules</a>, 
    <a class="journalName" href="#">IJMS</a>, <a class="journalName" href="#">Sensors</a>, <a class="journalName" href="#">Marine Drugs</a>, <a class="journalName" href="#">Energies</a>, 
    <a class="journalName" href="#">IJERPH</a>.</p>
	</div>
</div>


<div class="row">
	<div class="col-sm-4">
		<p>Más de 5.000 investigadores y profesores constituyen los Editorial Boards de las revistas de MDPI: entre ellos, contamos 
    también con ganadores de Premios Nobel. Más de 21.6400 autores de diferentes países del mundo han publicado artículos en las 
    revistas y más de 35.000 revisores de diferentes ámbitos investigativos han contribuido en mantener alta la reputación de MDPI.</p>
	</div>
	<div class="col-sm-4">
		<img class="img-responsive center-block" src="http://img.mdpi.org/img/office/barcelona.jpg" alt="Dr Shu kun Lin" width="200px" style="margin:20px auto;">
	</div>
</div>
</div>




{% endblock %}