{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Historia de MDPI
{% endblock %}

{% block content %}


<h2 class= "about-titulo">Historia de la evolucion de la empresa</h2>

<div class="about-content">
  <ul>
    <li><span class="about-history-year">1996:</span> Fundación de MDPI en Basel, Suiza. Las siglas corresponde a Molecular Diversity Preservation International.</li>
    <li><span class="about-history-year">2010:</span> El nombre de la compañía se cambia a MDPI AG (Multidisciplinary Digital Publishing Institute). MDPI se convierte 
    en una de las principales compañías de publicación <em>Open Access</em> del mundo.</li>
    <li>MDPI publica actualmente más de 160 <a href="#">revistas científicas</a> y técnicas en inglés. Entre ellas destacan <a class="journalName" href="#">Molecules</a>, 
    <a class="journalName" href="#">IJMS</a>, <a class="journalName" href="#">Sensors</a>, <a class="journalName" href="#">Marine Drugs</a>, <a class="journalName" href="#">Energies</a>, 
    <a class="journalName" href="#">IJERPH</a>.</li>
    <li>Más de 5.000 investigadores y profesores constituyen los Editorial Boards de las revistas de MDPI: entre ellos, contamos 
    también con ganadores de Premios Nobel. Más de 21.6400 autores de diferentes países del mundo han publicado artículos en las 
    revistas y más de 35.000 revisores de diferentes ámbitos investigativos han contribuido en mantener alta la reputación de MDPI.</li>
    <li><span class="about-history-year">2008:</span> Technology Service Co., Ltd., que representa MDPI AG en China, abre nuevas oficinas en Pekín.</li>
    <li><span class="about-history-year">2013:</span> Technology Service Co., Ltd., que representa MDPI AG en China, abre nuevas oficinas en Wuhan.</li>
    <li><span class="about-history-year">2016:</span> MDPI Spain, S.L., que representa MDPI AG en España, abre sus oficinas en Barcelona.</li>
  </ul>
</div>
{% endblock %}