{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Historia de MDPI
{% endblock %}

{% block content %}
<h2>Historia de la evolución de la empresa</h2>
<ul>
<li>1996: Fundación de MDPI en Basel, Suiza. La sigla corresponde a Molecular Diversity Preservation International.</li>
<li>2010: El nombre de la compañía se cambia a MDPI AG (Multidisciplinary Digital Publishing Institute). MDPI se convierte 
en una de las principales compañías de publicación Open Access del mundo.</li>
<li>MDPI publica actualmente más de 160 revistas científicas y técnicas en inglés. Entre ellas destacan Molecules, IJMS, Sensors, Marine Drugs, Energies, IJERPH.</li>
<li>Más de 5000 investigadores y profesores constituyen los Editorial Boards de las revistas de MDPI: entre ellos, contamos también con ganadores de Premios Nobel. 
Más de 216400 autores de diferentes países del mundo han publicado artículos en las revistas y más de 35000 revisores de diferentes ámbitos investigativos han 
contribuido en mantener alta la reputación de MDPI.</li>
<li>2008: Technology Service Co., Ltd., que representa MDPI AG en China, abre nuevas oficinas en Pequín.</li>
<li>2013: Technology Service Co., Ltd., que representa MDPI AG en China, abre nuevas oficinas en Wuhan.</li>
<li>2016: MDPI Spain, S.L., que representa MDPI AG en España, abre sus oficinas en Barcelona.</li>
</ul>

{% endblock %}


