{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Revistas de MDPI
{% endblock %}

{% block content %}

<h2 class= "about-titulo">Revistas de MDPI</h2>
Lista de revistas
Nombre, ISSN, Fecha de creación, artículo

{% endblock %}