{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
MDPI.es | Presidente de la Compañia
{% endblock %}

{% block content %}

<h2 class= "about-titulo">Presidente de la compañia</h2>
<div class="row">
	<div class="col-md-4">
		<div style="margin: 50px 0;">
			<img class="img-responsive center-block" src="{{ asset('/images/shu-kun-lin.jpg') }}" alt="Dr Shu kun Lin" width="200">
		</div>
	</div>
	<div class="col-md-8">
  		<div class="about-content">
  			<p>El Dr. Shu-Kun Lin nació en 1957 en Hanchuan (Hubei, China) y actualmente reside en Basilea, Suiza. Es el fundador y el presidente de MDPI.</p>
			<h3 style="color: #48516D;">Educación y experiencia</h3>
			<p>Desde marzo de 1978 hasta enero de 1982 estudió en la Universidad de Wuhan, donde obtuvo su grado (B.S.) en Química Inorgánica. Desde septiembre de 
			1982 hasta octubre de 1985 estudió en el Lanzhou Institute of Chemical Physics, donde obtuvo su posgrado (M.S.) en Fisicoquímica. Desde enero de 1987 
			hasta julio de 1989 estudió en la University of Louisville, en EE.UU. Desde julio de 1989 hasta febrero de 1993 estuvo estudiando en el Swiss Federal 
			Institute of Technology (ETH-Zürich), donde obtuvo el título de Doctor en Química Orgánica (PhD).</p>

			<h3 style="color: #48516D;">Experiencia laboral</h3>
			<p>Desde febrero de 1993 hasta finales de 1995 trabajó en Ciba-Geigy Ltd. en Basilea, desarrollando una síntesis orgánica de fármacos en un proyecto 
			relacionado con su investigación post-doctoral. En 1996 el Dr. Lin fundó MDPI y la revista <a class="journalName" href = "http://www.mdpi.com/journal/molecules">Molecules</a>; en los 10 años posteriores, el Dr. Lin fundó y 
			publicó otras revistas digitales: <a class="journalName" href = "http://www.mdpi.com/journal/entropy">Entropy</a> (1999), <a class="journalName" href = "http://www.mdpi.com/journal/ijms">International Journal of Molecular Sciences</a> (2000), 
			<a class="journalName" href = "http://www.mdpi.com/journal/sensors">Sensors</a> (2001), <a class="journalName" href = "http://www.mdpi.com/journal/marinedrugs">Marine Drugs</a> (2003) e 
			<a class="journalName" href = "http://www.mdpi.com/journal/ijerph">International Journal of Environmental Research and Public Health</a> (2004).
			 En marzo de 2008 y en 2013, el Dr. Lin fundó Technology Service Co., Ltd. en Pekín y en Wuhan, que representa MDPI AG en China. </p>
  		</div>
	</div>
</div>

{% endblock %}




