{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Perfil de MDPI
{% endblock %}

{% block content %}
<p>MDPI Spain, S.L., fue fundada en marzo de 2016, cuando se abrió su oficina de Barcelona, como parte del departamento de edición, ventas y afiliaciones 
(membership program) de la empresa. Actualmente emplea a 22 personas con formación de doctorado y máster en diferentes disciplinas como física, química, 
biología, biomedicina, filosofía y ciencias sociales.</p>
<p>Suiza MDPI Publishing Company fue fundada en junio de 1996, y tiene su sede central en Basilea, Suiza. En sus inicios respondía a Molecular Diversity Preservation 
International (MDPI). En junio de 2010 cambió oficialmente su nombre a MDPI: Multidisciplinary Digital Publishing Institute. Hoy es una de las principales compañías de 
publicación Open Access del mundo.</p>
<p>MDPI publica actualmente más de 160 revistas científicas (http://www.mdpi.com/about/journals/), incluyendo Molecules, Sensors, IJMS, Marine Drugs, Energies, IJERPH y 
otras revistas de fama internacional. Más de 12800 científicos y editores académicos colaboran con nosotros: entre ellos, también ganadores de Premios Nobel. 
Al día de hoy, más de 216400 autores de diferentes países del mundo han publicado artículos en las revistas de MDPI. Para más informaciones, puedes visitar nuestra 
página web: www.mdpi.com</p>

{% endblock %}