{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
MDPI.es: Perfil de la compañía
{% endblock %}

{% block content %}
<h2 class= "about-titulo">Perfil de la compañia</h2>
<div style="margin: 50px 0;">
	<img class="img-responsive center-block" src="/images/mdpi-offices-map.png" alt="MDPI offices map" width="800">
</div>

<div class="about-content">
<p>MDPI Spain, S.L. fue fundada en marzo de 2016, cuando se abrió su oficina de Barcelona, como parte del departamento de edición, 
ventas y afiliaciones (Membership Program) de la empresa. Actualmente emplea a 22 personas con formación de doctorado y máster en 
diferentes disciplinas como física, química, biología, biomedicina, filosofía y ciencias sociales.</p>
<p>MDPI fue fundada en junio de 1996, y tiene desde entonces su sede central en Basilea, Suiza. En sus inicios respondía a 
<em>Molecular Diversity Preservation International</em> (MDPI) y su objetivo consistía en promover y preservar la diversidad de 
los compuestos químicos. En junio de 2010 cambió oficialmente su nombre a MDPI: <em>Multidisciplinary Digital Publishing Institute</em>, 
convirtiéndose en una de las principales compañías de publicación <em>Open Access</em> del mundo.</p>
<p>MDPI publica actualmente más de 160 <a href="http://www.mdpi.com/about/journals/">revistas científicas</a>, incluyendo <a class="journalName" href = "#">Molecules</a>, 
<a class="journalName" href="#">Sensors</a>, <a class="journalName" href="#">IJMS</a>, <a class="journalName" href="#">Marine Drugs</a>, <a class="journalName" href="#">Energies</a>, <a class="journalName" href="#">IJERPH</a> y otras revistas de fama internacional. 
Más de 12800 científicos y editores académicos han colaborado con MDPI: entre ellos, contamos también con ganadores de Premios Nobel. Al día de hoy, 
más de 21.6400 autores de diferentes países del mundo han publicado artículos en las revistas de MDPI. Para más información, puedes visitar 
<a href = "http://www.mdpi.com">nuestra web internacional</a>.</p>
</div>
{% endblock %}