{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
Equipo de dirección
{% endblock %}

{% block content %}

<h2 class= "about-titulo">Equipo de direccion</h2>
<div class="row">
	<div class="col-sm-3">
		<div style="margin: 20px 0;">
			<img class="img-responsive center-block" src="/images/isabel-martinez.jpg" alt="Isabel Martinez" width="200">
		</div>
		<div style="text-align: center;">
			<p>Isabel Martínez</p>
			<p>Directora de la oficina de Barcelona</p>
		</div>
	</div>
	<div class="col-sm-9">
  		<div class="about-content">
			<p>Isabel Martínez trabaja para MDPI desde enero de 2016 dirigiendo la Oficina editorial de Barcelona. Es licenciada en Socilogía 
		por la Universidad de Alicante y tiene un Máster en Publishing con matrícula de honor por la Universidad Brookes de Oxford. Antes 
		de formar parte de MDPI trabajó con un conjunto de revistas sobre salud y ciencias sociales en John Wiley & Sons en Oxford. <a href="mailto:someone@example.com" target="_top">Contacto</a></p>
		
  		</div>
	</div>
</div>


{% endblock %}